
/* Simple Responsive Framework. */
.row {
    width: 100%;
  }

/********** Base styles **********/
* {
    box-sizing: border-box;
  }

  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .row {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }  

#header-nav {
  background-color: darkred;
  border: 0;
  border-radius: 0px;
}

button {
  position: relative;
  bottom: 40px;
}

.navbar-brand h1 {
  position: relative;
  margin: 8px;
  bottom: 10px;
  font-size: 20px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle {
  clear: both;
}


#nav-list {
  margin: 5px;
  
}

#nav-list a {
  color: white;
  font-weight: bold;
  text-align: center;
}

#nav-list a:hover {
  color: black;
}

#nav-list a:span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}

#menu-title {
  margin: 20px;
  color: darkslategray;
}

h2 {
    position: relative;
    margin: 3px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

p {
    font-size: 14px;
    height: 180px;
    margin-top: 10px;
    padding: 60px 10px 10px 10px;
    background-color: beige;
    border: 1px solid black;
    font-family: Helvetica, Arial, sans-serif;
  }

.entree {
    position: relative;
    width: 40%;
    height: 40px;
    margin-top: 10px;
    float: right;
    background: tan;
    border: 1px solid black;

}

@media (max-width: 768px) {
  p {font-size: 13px;}
  #collapsable-nav {
    background-color: #ba0000;
  }
}

.stretch-div {
  position: relative;
  height: 2000px;
  background-color: bisque;
  margin-top: -20px;


}